<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.ruoyi.corework.mapper.AssetOperMapper">
    <insert id="InsertAssetOper" parameterType="com.ruoyi.corework.domain.AssetOper">
        insert into asset_oper( asset_id,apply_id,batch_id,warehouse_id, oper_type,
        oper_num,before_useable_stock,after_useable_stock,remark,create_time,create_by)
        values( #{assetId},#{applyId},#{batchId},#{warehouseId}, #{operType}, #{operNum},
        #{beforeUseableStock},#{afterUseableStock},#{remark},#{createTime}, #{createBy})
    </insert>

    <select id="selectAssetOperList" resultType="com.ruoyi.corework.domain.AssetOper"
            parameterType="com.ruoyi.corework.domain.dto.AssetOperQueryDto">
        select *
        from asset_oper
        <where>
            <if test="assetId != null ">and asset_id = #{assetId}</if>
            <if test="operType != null ">and oper_type = #{operType}</if>
        </where>
        ORDER BY create_time DESC
    </select>


    <select id="selectAssetOperByDay" resultType="map">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d') AS day,
        SUM(CASE WHEN oper_type = 'in' THEN oper_num ELSE 0 END) AS total_in,
        SUM(CASE WHEN oper_type = 'out' THEN oper_num ELSE 0 END) AS total_out
        FROM asset_oper
        WHERE create_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY day
        ORDER BY day ASC

    </select>

</mapper>