<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.ruoyi.corework.mapper.AssetOutApplyMapper">
    <!--  新增  -->
    <insert id="InsertAssetInApply" useGeneratedKeys="true" keyProperty="id">
        Insert into asset_apply_out ( apply_user_id,check_user_id,dept_id, apply_time, status, reason, flow_id,create_time,
        update_time,create_by, update_by)
        values ( #{applyUserId},#{checkUserId},#{deptId}, #{applyTime}, #{status}, #{reason},
        #{flowId},#{createTime},#{updateTime},#{createBy},#{updateBy})
    </insert>

    <!--   主表更新  -->
    <update id="updateAssetInApply">
        update asset_apply_out
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="checkUserId != null">
                check_user_id = #{checkUserId},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteAssetApplyDetail">
        delete from asset_apply_out_detail where apply_id = #{id}
    </delete>

    <delete id="deleteAssetInApplyByIds">
        delete from asset_apply_out where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--   详情  -->
    <select id="selectAssetOutApplyById" resultType="com.ruoyi.corework.domain.AssetOutApply">
        select id, apply_user_id,check_user_id,dept_id, apply_time, status, reason, flow_id,create_time,
        update_time,create_by, update_by
        from asset_apply_out
        where id = #{id}
    </select>


    <resultMap id="AssetApplyDetailResultMap" type="com.ruoyi.corework.domain.AssetOutApplyDetail">
        <id property="id" column="detail_id"/>
        <result property="applyId" column="apply_id"/>
        <result property="assetId" column="asset_id"/>
        <result property="count" column="count"/>
    </resultMap>

    <resultMap id="AssetApplyResultMap" type="AssetOutApply">
        <id property="id" column="apply_id"/>
        <result property="applyUserId" column="apply_user_id"/>
        <result property="checkUserId" column="check_user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="applyTime" column="apply_time"/>
        <result property="status" column="status"/>
        <result property="reason" column="reason"/>
        <result property="flowId" column="flow_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <collection property="detailList" ofType="AssetOutApplyDetail"
                    resultMap="AssetApplyDetailResultMap"/>
    </resultMap>

    <!--  列表查询  -->
    <select id="selectAssetApplyInList" resultMap="AssetApplyResultMap">
        SELECT
        a.id AS apply_id,
        a.apply_user_id,
        a.check_user_id,
        a.dept_id,
        p.dept_name,
        a.apply_time,
        a.status,
        a.reason,
        a.flow_id,
        a.create_time,
        a.create_by,
        a.update_time,
        a.update_by,

        d.id AS detail_id,
        d.apply_id,
        d.asset_id,
        d.count

        FROM asset_apply_out a
        LEFT JOIN asset_apply_out_detail d ON a.id = d.apply_id
        LEFT JOIN sys_dept p ON a.dept_id = p.dept_id
        <where>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="status != null ">and a.status = #{status}</if>
            <if test="checkUserId != null ">and a.check_user_id = #{checkUserId}</if>
            <if test="applyUserId != null ">and a.apply_user_id = #{applyUserId}</if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>