<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.ruoyi.corework.mapper.BookMapper">

    <!--  查询所有图书，可带条件  -->
    <select id="selectBookList" resultType="com.ruoyi.corework.domain.Book">
        select id,name,author,isbn,publish_date,status
        from library_book
        <where>
            <if test="name != null and name !=''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="author  != null and author  !=''">
                AND author  LIKE CONCAT('%', #{author }, '%')
            </if>
            <if test="status  != null and status  !=''">
                AND status = #{status}
            </if>
        </where>
    </select>


</mapper>