<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.ruoyi.corework.mapper.BookMapper">

    <!--  查询所有图书，可带条件  -->
    <select id="selectBookList" resultType="com.ruoyi.corework.domain.Book">
        select id,name,author,isbn,publish_date,status,create_by,create_time,update_by,update_time,remark
        from library_book
        <where>
            <if test="name != null and name !=''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="author  != null and author  !=''">
                AND author LIKE CONCAT('%', #{author }, '%')
            </if>
            <if test="status  != null and status  !=''">
                AND status = #{status}
            </if>
        </where>
    </select>

    <!--  新增图书  -->
    <insert id="insertBook" parameterType="com.ruoyi.corework.domain.Book">
        insert into
        library_book(name,author,isbn,publish_date,status,create_by,create_time,update_by,update_time,remark)
        values(#{name},#{author},#{isbn},#{publishDate},#{status},#{createBy},#{createTime},#{updateBy},#{updateTime},#{remark})
    </insert>

    <!--  修改图书  -->
    <update id="updateBook" parameterType="com.ruoyi.corework.domain.Book">
        update library_book
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="isbn != null">
                isbn = #{isbn},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
    </update>

    <!--  图书详情  -->
    <select id="detail" resultType="com.ruoyi.corework.domain.Book" parameterType="java.lang.Long">
        select id,name,author,isbn,publish_date,status,create_by,create_time,update_by,update_time,remark
        from library_book
        where id = #{id}
    </select>

    <!-- 删除图书 -->
    <delete id="deleteBookByIds">
        delete from library_book where id in
        <foreach collection="collection" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>